
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Merriweather&display=swap');



*{
    margin: 0;
    padding: 0;
}

body {
  width: 1440px;
}

/* .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
} */

.header-container {
    background: url("/assets/img/bg.png");
    background-repeat: no-repeat;
    background-position: center 0;
    height: 910px;

    display: flex;
    /* justify-content: space-between; */
    flex-direction: column;
  }

/* .header{
  width: 500px;
  margin: 0 10px   0 0;
} */

.header-wrapper {
  display: flex;
  justify-content: space-between;
}

  .icon {
    margin-top: 25px;
  }

  .main-links{
    color: aliceblue;
    text-decoration: none;
    
  }

.skills, .portfolio, .video, .price, .contacts {
    list-style: none;
    margin-left: -61px;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 10px;
    color: aliceblue;
}

.skills, .portfolio, .video, .price, .contacts,.en, .slash, .ru, .rise, .prg{
  font-family: 'Inter';
  font-style: normal;
  color: aliceblue; 
}

.button{
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
/* color: #000000; */
}

.prg{
  width: 470px;
  height: 120px;
  visibility: visible;
  margin: -11px 0 0px 0;
}

.h1{
  margin: 173px 0 0 82px;
}

.rise{
  font-size: 30px;
}

.en, .slash, .ru{
  margin-top: 33px;
 font-size: 20px;
}

.ru{
  margin-right  : 17px;
}

  .links {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    /* position: absolute;
    right: 40px; */
  }

  .header {

    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    

  }

.en{
  /* margin-left: 400px; */
}

.alex-info {
margin: 46px 0 0px 80px;
font-weight: 400;
font-size: 20px;
line-height: 40px;
}

.wrapper_nav {
  display: flex;
  width: 534px;
}

.language {
  width: 100px;
  color: aliceblue;
  display: flex;
  justify-content: space-around;
}

.button{
  width: 222px;
  height: 57px;
  background-color: #BDAE82;
  border-radius:0px;
  margin: 24px 0 0 79px;
}


.h1{
  font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 60px;
}

.wrapper_skills{
  height: 482px;
}

.title {
  font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 80px;
color: #BDAE82;

}

.stick-name{
  display: flex;
  justify-content: space-between;
  /* margin: 99px 0 0 265px; */
  padding: 99px 0 0 0;
  width: 700px;
  margin: 0 auto;
}

.img{
  width: 274px;
  height: 2px;
  margin: 40px 0 0 0px;
}

/* .img2{
  width: 200px;
  height: 2px;
  margin: 40px 0 0 0px;
} */
